body {
  display: block;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  line-height: 32px;
}

a {
  text-decoration: none;
  color: blue;
}

img {
  border-radius: 100px;
  background-color: grey;
}

.block {
  margin: auto;
  margin-top: 320px;
  margin-bottom: 460px;
  max-width: 640px;
}

.description {
  color: grey;
}
